@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root {
    --background: 240.00 42.86% 97.25%;
    --foreground: 243.75 100.00% 3.14%;

    --primary: 222 100% 50%;
    --primary-foreground: 0.00 0.00% 100.00%;

    --card: 240.00 42.86% 97.25%;
    --card-foreground: 243.75 100.00% 3.14%;

    --popover: 0.00 0.00% 100.00%;
    --popover-foreground: 243.75 100.00% 3.14%;

    --secondary: 242.50 46.15% 89.80%;
    --secondary-foreground: 240.00 100.00% 1.37%;

    --muted: 240.00 47.06% 93.33%;
    --muted-foreground: 0.00 0.00% 40.00%;
    
    --accent: 240.00 47.06% 93.33%;
    --accent-foreground: 222 100% 50%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 0.00 0.00% 90.20%;
    --input: 0.00 0.00% 90.20%;
    --ring: 222 100% 50%;

    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 240.00 100.00% 1.37%;
    --foreground: 242.50 46.15% 89.80%;

    --primary: 222 100% 50%;
    --primary-foreground: 0.00 0.00% 100.00%;

    --card: 240.00 100.00% 1.37%;
    --card-foreground: 242.50 46.15% 89.80%;

    --popover: 240.00 100.00% 1.37%;
    --popover-foreground: 242.50 46.15% 89.80%;

    --secondary: 260 100% 13%;
    --secondary-foreground: 0.00 0.00% 100.00%;

    --muted: 240.00 12.28% 11.18%;
    --muted-foreground: 240.00 1.20% 50.78%;
    
    --accent: 260 100% 13%;
    --accent-foreground: 242.50 46.15% 89.80%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 0.00 0.00% 14.90%;
    --input: 0.00 0.00% 14.90%;
    --ring: 222 100% 50%;

    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;

    --radius: 0.5rem;
  }
}


@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
