@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root {
    --background: 240.00 42.86% 97.25%;
    --foreground: 243.75 100.00% 3.14%;

    --primary: 330 81% 60%;
    --primary-foreground: 0.00 0.00% 100.00%;

    --card: 240.00 42.86% 97.25%;
    --card-foreground: 243.75 100.00% 3.14%;

    --popover: 0.00 0.00% 100.00%;
    --popover-foreground: 243.75 100.00% 3.14%;

    --secondary: 340 40% 90%;
    --secondary-foreground: 330 81% 60%;

    --muted: 340 20% 95%;
    --muted-foreground: 330 10% 40%;
    
    --accent: 330 60% 95%;
    --accent-foreground: 330 81% 60%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 330 20% 90%;
    --input: 330 20% 90%;
    --ring: 330 81% 60%;

    --chart-1: 330 70% 60%;
    --chart-2: 280 60% 50%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 240.00 100.00% 1.37%;
    --foreground: 242.50 46.15% 89.80%;

    --primary: 330 81% 60%;
    --primary-foreground: 0.00 0.00% 100.00%;

    --card: 240.00 100.00% 1.37%;
    --card-foreground: 242.50 46.15% 89.80%;

    --popover: 240.00 100.00% 1.37%;
    --popover-foreground: 242.50 46.15% 89.80%;

    --secondary: 340 60% 20%;
    --secondary-foreground: 0.00 0.00% 100.00%;

    --muted: 340 20% 15%;
    --muted-foreground: 340 10% 70%;
    
    --accent: 330 50% 20%;
    --accent-foreground: 242.50 46.15% 89.80%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 330 20% 20%;
    --input: 330 20% 20%;
    --ring: 330 81% 60%;

    --chart-1: 330 70% 60%;
    --chart-2: 280 60% 50%;

    --radius: 0.5rem;
  }
}


@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
